
<h1>Steps <%=@step.id%> : <%= @step.name %></h1>

<%= form_for [:instructors, @language, @chapter, @step] do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h1>CodeTest for <%=@step.name%> </h1>

<% @step.code_tests.each do |test| %>
 <%=test.id%> Test Input: <%= test.input %> Test Output: <%= test.output %>
 <br>
<% end %>
<br>
Edit
