<div class="log-in-form">
  <h1>Log in</h1>

  <p>Log in to resume your learning</p>
  <br>
  <a class="github-button" href= "https://github.com/login/oauth/authorize?scope=user:email&client_id=74fe2b9c76d0ac9fbcce" type="button" name="button">Log in with Github</a>
  <br>
  <br>
  <p>----------   OR   ----------</p>
  <br>

  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>

  <% if flash[:alert] %>
  <%= flash[:alert] %>
  <% end %>

  <p>Log in with email address</p>
    <%= form_tag sessions_path do %>
      <div class="loginform">
        <p>
          <%=label_tag :email%><br>
          <%= text_field_tag :email, params[:email]%>
        </p>
      </div>
      <div class="passwordform">
        <p>
          <%=label_tag :password%><br>
          <%= password_field_tag :password%>
        </p>
      </div>
      <div class="loginbutton">
        <p>
          <%= submit_tag "Log in"%>
        </p>
      </div>
    <% end %>
</div>
