<div class="log-in-form">
  <h2>Log in</h2>
  <br>
  <p>Log in to resume your learning</p>
  <br>
  <a class="btn btn-primary github-button" href= "https://github.com/login/oauth/authorize?scope=user:email&client_id=74fe2b9c76d0ac9fbcce" type="button" name="button"><%= image_tag 'GitHub-Mark-32px'%> Log in with Github</a>
  <br>
  <br>
  <p>----------   OR   ----------</p>
  <br>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>

  <p>Log in with email address</p>

  <%= form_tag sessions_path do %>
    <div class="loginform">
      <p>
        <%=label_tag :email%><br>
        <%= text_field_tag :email, params[:email]%>
      </p>
    </div><%# class "loginform" ends here %>
    <div class="passwordform">
      <p>
        <%=label_tag :password%><br>
        <%= password_field_tag :password%>
      </p>
    </div><%# class "passwordform" ends here %>
    <br>
    <div>
      <p>
        <%= submit_tag "Log in", class: 'submit-login-form'%>
      </p>
    </div><%# class "loginbutton" ends here %>
  <% end %>
</div>
