<div class="log-in-form">
  <h1>Log in</h1>

  <p>Log in to resume your learning</p>
  <button type="button" name="button">Log in with Github</button>
  <br>

  <p>----------   OR   ----------</p>
  <br>

  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>

  <% if flash[:alert] %>
  <%= flash[:alert] %>
  <% end %>

  <p>Log in with email address</p>
    <%= form_tag sessions_path do %>
      <div class="loginform">
        <%=label_tag :email%>
        <%= text_field_tag :email, params[:email]%>
      </div>
      <div class="passwordform">
        <%=label_tag :password%>
        <%= password_field_tag :password%>
      </div>
      <div class="loginbutton">
        <%= submit_tag "Log in"%>
      </div>
    <% end %>
</div>
