<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/instructors/languages">Instructor Home</a></li>
    <li class="breadcrumb-item"><a href="/instructors/languages/<%=@current_language.id%>/edit">Language</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="/instructors/languages/<%=@current_language.id%>/chapters/<%=@chapter.id %>/edit">Chapter</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="/instructors/languages/<%=@current_language.id%>/chapters/<%=@chapter.id %>/steps/<%=@step.id%>/edit">Step</a></li>
    <li class="breadcrumb-item active" aria-current="page">Code Test</li>
  </ol>
</nav>

<div class="instructors-codetests-edit">
  <h2>Steps <%=@step.id%> Code Test </h2>
  <br>
  <%= form_for [:instructors, @language, @chapter, @step, @test] do |f| %>
    <p>
      <%= f.label :input %>
      <br>
      <%= f.text_field :input %>
    </p>
    <br>
    <p>
      <%= f.label :output %>
      <br>
      <%= f.text_area :output %>
    </p>
    <p>
      <%= f.submit 'Update Code Test', class: 'btn btn-primary instructors-update-button' %>
    </p>
  <% end %>

</div>
