<div class="profile">
  <h2>Your Profile</h2>
  <br>
  <br>
  <% if current_user.present? %>
    <%= form_for current_user do |f| %>
      <div class="profile-pic">
        <h4>Profile Picture</h4>
        <%= image_tag "http://api.adorable.io/avatar/250/#{current_user.email}" %>
      </div>
      <br>
      <div class="username">
        <h4>Username</h4>
        <p>
          <%= f.text_field :name, value: current_user.name %>
        </p>
      </div>
      <br>
      <div class="email">
        <h4>Email Address</h4>
        <p>
          <%= f.text_field :email, value: current_user.email %>
        </p>
      </div>
      <br>
      <div class="password">
        <h4>Password</h4>
        <p>
          <%= f.password_field :password, placeholder: '********' %>
        </p>
      </div>
      <br>
      <div class="password_confirmation">
        <h4>Password Confirmation</h4>
        <p>
          <%= f.password_field :password_confirmation, placeholder: '********' %>
        </p>
      </div>
      <br>
      <%= f.submit 'Update Profile', class: 'btn btn-primary edit-profile' %>

      <% if flash[:notice] %>
        <div class="update-success-notice"><%= flash[:notice] %></div>
      <% end %>
    <% end %>
  <% end %>
</div>
