<div class="instructors-languages-edit">
  <h2>Edit <%= @language.name.capitalize %> </h2>

  <%= form_for [:instructors, @language] do |f| %>
    <p>
      <%= f.label :"You can edit the language description below"%><br>
      <%= f.text_area :description %>
    </p>
    <br>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
  <br>
  <h2>Chapters</h2>
  <br>
  <% @language.chapters.each do |chapter| %>
    <p>
      <%=chapter.id%> <%= chapter.name %> | <%=link_to "Edit", edit_instructors_language_chapter_path(@language.id,chapter.id)%>
    </p>
    <br>
  <% end %>

</div>
