<div class="instructors-chapters-edit">
  <h2>Chapter <%=@chapter.id%> : <%= @chapter.name %></h2>
  <br>
  <%= form_for [:instructors, @language, @chapter] do |f| %>
    <p>
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </p>
    <br>
    <p>
      <%= f.label :description %>
      <br>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.submit 'Update Chapter Description', class: 'btn btn-primary instructors-update-button' %>
    </p>
  <% end %>
  <br>
  <p>----------------------------------------</p>
  <br>
  <div class="edit-step-menu">
    <h3>Steps </h3>
    <br>
    <% @chapter.steps.each do |step| %>
      <p>
       <%=step.id%>.)  <%= step.name %> | <%=link_to "Edit", edit_instructors_language_chapter_step_path(@language.id,@chapter.id,step.id)%>
      </p>
      <br>
    <% end %>
  </div>

</div>
