
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
<%= form_for @step, url:"https://codeapi.herokuapp.com/code/ruby", html: { id: 'submitcode'}, remote: true, :action => language_chapter_step_path, :method => :post do |f| %>
<%= f.label :'Write your code here' %>
<%= f.hidden_field :url, value: "/user/#{params[:id]}/step/#{params[:id]}/submitcode" %>

<%= f.text_area :code, :class => 'codemirror-textarea' , :value => 'puts 3+4'%>
<%= f.submit 'Test Your Code', name:'Test' %>
<% end %>
<br>
<button id="savecode">Submit Your Code</button>

<h2>Results</h2>
<div id="result">
</div>

<div class="terminalresults">
  <p id="results"></p>
</div>
<br>
<br>

<div class="steps" style="border: 2px solid red">
  <h2>Step: <%= @step.id %> </h2>
  <h2><%= @step.name%></h2>
  <h2>Description: <%= @step.description %></h2>

</div>
