<div class="about-us">
  <div class="about-us-intro">
    <h2>About Us</h2>
    <br>
    <p>We all came from a different professional background, but share one thing in common - We love technology and coding.</p>
    <p>It is our passion that draws us into the world of programming and development. Through GA Bitmaker, the leading coding bootcamp in Toronto, we attained the necessary skillsets to set-sail our programming journey.</p>
    <p>We call ourselves lifetime student in the art of programming and design, and our journey starts with our first project together - TeachME</p>
  </div>

  <div class="container about-us">
    <div class="row about-us">
      <%# --- Kaiser card starts here --- %>
      <div class="col-lg-6 about-us">
        <div class="mx-auto card about-us">
          <img class="card-img-top about-us" src="https://d13yacurqjgara.cloudfront.net/users/35682/screenshots/2499616/drib-storm-4.jpg" alt="Card image cap">
          <h4>Kaiser Chan</h4>
          <p class="role">Project Manager, Design Master, Frontend Creator</p>
          <p class="card-text about-us">I am an ex wealth management pro turned tech pro. I have a strange relationship with the letter "P" and "M", evident by my career transformation from an investment portfolio manager to a tech product manager. I believe any great products should improve lives and user experience is the king in product design. I am, and will always be, a curious and passionate entrepreneurial spirit.</p>
          <p class="card-text about-us">When I am not studying, designing, wireframing, user researching or coding, you will either find me at the gym or playing with my lovely daughter.</p>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/kaiser-chan-46897a95/"><%= image_tag 'LinkedIn'%></a>
            <a href="https://github.com/KaiserChan"><%= image_tag 'Github' %></a>
          </div>
        </div>
      </div><%# --- Kaiser card ends here --- %>

      <%# --- Navi card starts here --- %>
      <div class="col-lg-6 about-us">
        <div class="mx-auto card about-us">
          <img class="card-img-top about-us" src="https://cdn.artstation.com/p/assets/images/images/000/610/059/large/julio-cesar-katiucha-copia.jpg?1428449827" alt="Card image cap">
          <h4>Navi Mann</h4>
          <p class="role">Project Manager, Design Master, Frontend Creator</p>
          <p class="card-text about-us">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate</p>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/navdeepmann/"><%= image_tag 'LinkedIn'%></a>
            <a href="https://github.com/navi0016"><%= image_tag 'Github' %></a>
          </div>
        </div>
      </div><%# --- Navi card ends here --- %>
    </div>
      <%# --- Lobsang card starts here --- %>
    <div class="row about-us">
      <div class="col-lg-6 about-us">
        <div class="mx-auto card about-us">
          <img class="card-img-top about-us" src="https://d13yacurqjgara.cloudfront.net/users/283823/screenshots/2683431/superman-01.jpg" alt="Card image cap">
          <h4>Lobsang Tenzin</h4>
          <p class="role">Math Wizard, Backend Maestro</p>
          <p class="card-text about-us">I am a High School Math Teacher turned Web Developer. I have been passionate about programming since high school and have a Bachelor of Computer Science. I then got my Masters in Math as High School Math Teachers were needed at that time. After 5 years of teaching, I was determined to follow my original dream of becoming a web developer.</p>
          <p class="card-text about-us">I love solving mathematical problems and because I do, it makes it easier to understand concepts and approaches towards solutions.</p>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/lobsang-tenzin-29008712b/"><%= image_tag 'LinkedIn'%></a>
            <a href="https://github.com/tenzin2017"><%= image_tag 'Github' %></a>
          </div>
        </div>
      </div><%# --- Lobsang card ends here --- %>

      <%# --- Jason card starts here --- %>
      <div class="col-lg-6 about-us">
        <div class="mx-auto card about-us">
          <img class="card-img-top about-us" src="https://files.muzli.space/fe642c5945dc3b1190763598b09a01c3.png" alt="Card image cap">
          <h4>Jason Harder</h4>
          <p class="role">Artist, Geek, Fullstack.</p>
          <p class="card-text about-us">I am an ex-sales professional that decided to turn to coding because programming is the clearest path to turn an idea into reality. I decided to go to Bitmaker because I got lost in the building once & couldn't find my way out for the duration of the course.Currently, I am focusing on learning algorithms & data structures.</p>
          <p class="card-text about-us">Feel free to add me on Linked-in. I love to talk books, coding & video-games.</p>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/hireharder/"><%= image_tag 'LinkedIn'%></a>
            <a href="https://github.com/Anthematics"><%= image_tag 'Github' %></a>
          </div>
        </div>
      </div><%# --- Jason card ends here --- %>

    </div><%# --- class "row about-us" ends here --- %>
  </div><%# --- class "container about-us" ends here --- %>
</div>
