<h1>Instructor Edit Languages</h1>
<p>Find me in app/views/instructor/editLanguages.html.erb</p>
<%= form_for @Language do |f| %>

<%= f.label :name %>
<%= f.text_field :name%>

<%= f.label :description %>
<%= f.text_area :description %>
<%= f.submit %>
<% end %>
