<!DOCTYPE html>
<html>
  <head>
    <title>Teachme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <main>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">TeachME</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="/languages">Languages</a></li>
          <li><a href="#">Community</a></li>
        </ul>
        <p class="userinfo">
          <%if current_user%>
            Signed in as <%= current_user.email%>. <%=link_to "Log out", session_path("current"), :method => :delete%>
          <% else %>
          <form class="form-inline">
            <button id='signup' class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
            <button id='login' class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#logInModal">Log in</button>
          </form>
          <% end %>
        </p>
      </div>
    </nav>

    <body>
      <%= yield %>
<%# The following is to use bootstrap to render partial the sign up form at home page when button is clicked %>
      <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="signUpModalLabel">Sign Up Now!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "users/signup" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

<%# The following is to use bootstrap to render partial the log in form at home page when button is clicked %>
      <div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="logInModalLabel">Log In Here</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "sessions/login" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    </body>

    <footer> TeachME copyright(c) 2017 Copyright Holder All Rights Reserved </footer>
  </main>

</html>
